CareerCloud.UnitTests.Assignment5/Connected Services/System/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CareerCloud.Pocos" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="AddSystemCountryCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CareerCloud.Pocos" minOccurs="0" name="item" nillable="true" type="q1:ArrayOfSystemCountryCodePoco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSystemCountryCodeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSystemCountryCode">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSystemCountryCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CareerCloud.Pocos" minOccurs="0" name="GetAllSystemCountryCodeResult" nillable="true" type="q2:ArrayOfSystemCountryCodePoco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleSystemCountryCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="Code" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleSystemCountryCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CareerCloud.Pocos" minOccurs="0" name="GetSingleSystemCountryCodeResult" nillable="true" type="q4:SystemCountryCodePoco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSystemCountryCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="Code" type="q5:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSystemCountryCodeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSystemCountryCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CareerCloud.Pocos" minOccurs="0" name="items" nillable="true" type="q6:ArrayOfSystemCountryCodePoco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSystemCountryCodeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSystemLanguageCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CareerCloud.Pocos" minOccurs="0" name="item" nillable="true" type="q7:ArrayOfSystemLanguageCodePoco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSystemLanguageCodeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSystemLanguageCode">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSystemLanguageCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CareerCloud.Pocos" minOccurs="0" name="GetAllSystemLanguageCodeResult" nillable="true" type="q8:ArrayOfSystemLanguageCodePoco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleSystemLanguageCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LanguageId" type="q9:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleSystemLanguageCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CareerCloud.Pocos" minOccurs="0" name="GetSingleSystemLanguageCodeResult" nillable="true" type="q10:SystemLanguageCodePoco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSystemLanguageCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LanguageId" type="q11:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSystemLanguageCodeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSystemLanguageCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CareerCloud.Pocos" minOccurs="0" name="items" nillable="true" type="q12:ArrayOfSystemLanguageCodePoco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSystemLanguageCodeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>